{% extends 'myapp/base.html' %}

{% block content %}<br><br><br>
<div class="container">
    <section class="headline-sec">
        <div class="overlay ">
            <h3> Differentiation หาค่าประมาณของฟังก์ชั่น </h3>

        </div>
    </section>
    <br><br>
    <div class="container marketing">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h3>
                            <B>กรอกข้อมูลต่อไปนี้</B> <br>
                        </h3>
                        <form action='' method="post">
                            {% csrf_token %}
                            <h4>เลือกฟังก์ชั่น</h4>
                            <select class="form-control" name=function>
                                <option value="taylorseries">Taylor Series</option>
                            </select>
                            <br>
                            <h4>ค่าประมาณของฟังก์ชั่น</h4>
                            <input name="fx" type="text" step=any class="form-control" placeholder="เช่น e**x">
                            <br>
                            <h4>ค่า x</h4>
                            <input name="x" type="number" step=any class="form-control" placeholder="เช่น 0">
                            <br>
                            <h4>ค่า h</h4>
                            <input name="h" type="number" step=any class="form-control" placeholder="เช่น 0.001">
                            <br>
                            <button type="submit" class="btn btn-secondary">คำนวณ</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2><strong> ผลลัพธ์ </strong></h2>
                <h4>re1</h4>
                <h4>= {{re1}}</h4>
                <h4>re2</h4>
                <h4>= {{re2}}</h4>
                <h4>re3</h4>
                <h4>= {{re3}}</h4>
                <h4>re4</h4>
                <h4>= {{re4}}</h4>
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock content %}